:root {
    --size-box: 16;

    --red: 0;
    --green: 0;
    --blue: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html, body, #main {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#menu, #plug {
    width: 400px;
    height: 800px;
}
#menu > h1 {
    padding: 10px;
    font-size: 42px;
    text-align: center;
}

#main {
    width: 800px;
    height: 800px;

    display: flex;
    flex-wrap: wrap;
}
#main, #menu, .colorPanel, .colorCube, #pensilMode, #eraserМode {
    border: 1px solid rgb(0, 0, 0);
}

.colorPanel {
    margin: 20px;
    padding: 10px;
}

.colorChoice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.colorCube {
    width: 100px;
    height: 100px;

    background-color: rgb(var(--red), var(--green), var(--blue));
}

.cube {
    flex: 0 0 calc(100%  / var(--size-box));
    height: calc(100% / var(--size-box));
}

#drawMode {
    padding: 10px;
    margin: 20px;

    display: flex;
    gap: 20px;
    justify-content: center;
}

#pensilMode, #eraserМode {
    font-weight: 900;
    padding: 10px 30px;
}

#plug > h1 {
    padding: 20px;
}